<div class="post-preview">
    <a href="<%= url_for(post.path) %>">
        <h2 class="post-title">
            <%= post.title %>
        </h2>
        <% if (post.subtitle) { %>
        <h3 class="post-subtitle">
            <%= post.subtitle || post.excerpt %>
        </h3>
        <% } %>
    </a>
    <p class="post-meta">Posted on <%= date(post.date) %></p>  
</div>
<hr>